body {
  -webkit-font-smoothing: antialiased;
}

.go_to_console-container {
  background: #fabc05;
  padding: 9.5px 7px;
  width: 165px;
}

.go_to_console {
  border: 1px solid #f6ada1;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  background: #1b73e7;
  color: #fbfcff;
  padding: 14px 24.75px;
  border-radius: 5px;
  letter-spacing: 1.1px;
  font-weight: 600;
}

.sign_up-container {
  padding: 5px;
}

.sign_up {
  font-family: "Open sans", sans-serif;
  background: #fa4a2c;
  border: none;
  border-radius: 4px;
  padding: 8px 18.5px;
  color: white;
  font-size: 14px;
  font-weight: 900;
}

.get_started {
  color: #7953b2;
  margin-left: 11px;
  border: 1px solid #7953b2;
  border-radius: 5px;
  padding: 16.5px 29.5px;
  margin-left: 11px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -.895px;
}

.explore_catalog {
  background-color: #48b881;
  color: #f2fef9;
  border: none;
  border-radius: 180px;
  padding: 17.5px 30px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
}

.get_started_solid-container {
  width: 170px;
  height: 89px;
  background-color: #edeff1;
}

.get_started_solid {
  font-family: "helvetica";
  background-color: #5b6ac4;
  color: #ffffff;
  border: 0px solid #7953b2;
  border-radius: 5px;
  padding: 17px 30px;
  margin: 15px 17px 20px 7px;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 4px 2px -2px #d6d8d9;
}

.log_in {
  font-family: "Open sans", sans-serif;
  color: #666666;
  border: .5px solid #666666;
  border-radius: 4px;
  padding: 8px 17px;
  margin: 15px 17px 20px 7px;
  font-weight: 900;
  font-size: 13px;
  letter-spacing: .75px;
}

.sign_up_free {
  font-family: "helvetica";
  background-color: #53bad6;
  color: #ffffff;
  border: 0px solid #7953b2;
  border-radius: 4px;
  padding: 13.5px 23.5px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: .25px;
  margin-left: 13px;
}

.start_selling {
  font-family: "helvetica";
  color: #5b6ac4;
  border: 2px solid #5b6ac4;
  border-radius: 4px;
  padding: 11px 27.5px;
  font-weight: 600;
  font-size: 16px;
  margin-left: 13px;
}

.check_out_site {
  font-family: "helvetica";
  color: #ffffff;
  background-color: #1b9af7;
  border: 0px solid #5b6ac4;
  border-radius: 4px;
  padding: 11px 41px;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 0 7px 0px 0px #0b80d8;
}

.visit_us {
  font-family: "helvetica";
  color: #ffffff;
  background-color: #1b9af7;
  border: .5px solid #098ef0;
  border-radius: 180px;
  padding: 11px 41px;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
  box-shadow: inset 0 1px 0px 0px #77c1fa;
}